@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: outfit;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Your desired color */
    height: 100%; /* Ensure it covers the full height */
    background-color: black;

  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  